// Copyright (C) 2020 Rick Waldron. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/expressions/assignmenttargettype/direct-
name: Direct assignment
info: |
  Direct assignment
---*/
$DONOTEVALUATE();

/*{ assignmenttarget }*/ /*{ operator }*/ /*{ value }*/;
