// Copyright (C) 2020 Rick Waldron. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/expressions/assignmenttargettype/parenthesized-
name: ParenthesizedExpression
esid: sec-grouping-operator-static-semantics-assignmenttargettype
info: |
  ParenthesizedExpression: (Expression)

  Return AssignmentTargetType of Expression.
---*/
$DONOTEVALUATE();

(/*{ assignmenttarget }*/) /*{ operator }*/ /*{ value }*/;
