// Copyright (C) 2022 Chengzhong Wu. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: prod-ClassExpression
name: Valid syntax for decorator on class expression in class body.
path: language/expressions/class/decorator/syntax/class-valid/
info: |
  ClassExpression[Yield, Await] :
    DecoratorList[?Yield, ?Await]opt class BindingIdentifier[?Yield, ?Await]opt ClassTail[?Yield, ?Await]

  DecoratorList[Yield, Await] :
    DecoratorList[?Yield, ?Await]opt Decorator[?Yield, ?Await]

  Decorator[Yield, Await] :
    @ DecoratorMemberExpression[?Yield, ?Await]
    @ DecoratorParenthesizedExpression[?Yield, ?Await]
    @ DecoratorCallExpression[?Yield, ?Await]

  ...
features: [class, decorators]
---*/

class C {
  /*{ elements }*/
  static {
    var D = /*{ decorators }*/ class {}
  }
};
