// Copyright (C) 2016 the V8 project authors, 2017 Igalia S.L. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/expressions/class/class-field-
name: class fields
---*/

class C {
  /*{ body }*/
  constructor() {
    /*{ assertions }*/
  }
}

const c = new C();
