// Copyright (C) 2017 the V8 project authors, 2017 Igalia S.L. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/expressions/class/fields-regular-definitions-
name: regular fields defintion
features: [class, class-fields-public]
esid: prod-FieldDefinition
---*/

var C = class {
  /*{ fields }*/
/*{ privateinspectionfunctions }*/
}

var c = new C();

/*{ assertions }*/
