// Copyright (C) 2018 Rick Waldron. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: prod-ClassElement
name: class declaration
path: language/statements/class/elements/syntax/valid/
features: [class]
---*/

class C /*{ heritage }*/{
  /*{ elements }*/
}
