// Copyright (C) 2018 Bloomberg LP. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: prod-ClassElement
name: class expression
path: language/expressions/class/syntax-
features: [class]
---*/

var C = class {
  /*{ methods }*/
};
