// Copyright (C) 2018 Rick Waldron. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: prod-ClassElement
name: class declaration
path: language/statements/class/syntax/early-error/
features: [class]
negative:
  phase: parse
  type: SyntaxError
---*/

throw "Test262: This statement should not be evaluated.";

class C /*{ heritage }*/ {
  /*{ elements }*/
}
