// Copyright (C) 2018 Rick Waldron. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: prod-ClassElement
name: class expression
path: language/expressions/class/syntax/early-error/
features: [class]
negative:
  phase: parse
  type: SyntaxError
---*/

throw "Test262: This statement should not be evaluated.";

var C = class /*{ heritage }*/{
  /*{ elements }*/
};
