// Copyright (C) 2017 Valerie Young. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: sec-class-definitions-static-semantics-early-errors
path: language/expressions/class/elements/static-private-
name: static PrivateName
features: [class, class-static-fields-private]
negative:
  type: SyntaxError
  phase: parse
---*/

$DONOTEVALUATE();

var C = class {
  static #x = /*{ initializer }*/;
}
