// Copyright (C) 2017 Valerie Young. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
esid: sec-class-definitions-static-semantics-early-errors
path: language/expressions/class/elements/comp-name-
name: computed ClassElementName
features: [class, class-fields-public]
negative:
  type: SyntaxError
  phase: parse
---*/

$DONOTEVALUATE();

var x = "string";
var C = class {
  [x] = /*{ initializer }*/;
}
